<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belly Button Biodiversity</title>
    
</head>
<body>
    <div class="container text-center jumbotron">
        <div class="container">
            <h1>Belly Button Biodiversity Dashboard</h1>
        </div>
    </div>
    <div id="plot"></div>
    <select id="selDataset" onchange="optionChanged(this.value)">
            
    </select>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
   
    
</body>
</html>